{% extends 'base.html' %} {% load static %} {% load humanize %}  {% block content %}

                    <div class="container">

                        <div class="py-3 d-flex align-items-sm-center flex-sm-row flex-column">
                            <div class="flex-grow-1">
                                <h4 class="fs-18 fw-semibold m-0">{{menu}}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="d-flex flex-wrap mt-3 mr-4">
                                        &nbsp; &nbsp;&nbsp; <a class="btn btn-primary" href="{% url "formguruadmin" %}" role="button">   <i data-feather="plus"></i> Tambah Data</a>
                                    </div>
                                    
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Data Guru</h5>
                                    </div><!-- end card header -->
                                 
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">No</th>
                                                    <th scope="col">Nama Guru</th>
                                                    <th scope="col">Jenis Kelamin</th>
                                                    <th scope="col">No. Telp</th>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Aksi</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for row in data %}
                                                  <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{row.nama_guru}}</td>
                                                    <td>
                                                        {% if row.jenis_kelamin == 'Laki-laki' %} 
                                                        <span class="badge bg-success">Laki-laki</span>
                                                        {% else %} 
                                                        <span class="badge bg-danger">Perempuan</span>
                                                        
                                                        {% endif %}
                                                    </td>
                                                    <td>{{row.no_hp}}</td>
                                                    <td>{{row.user.username}}</td>
                                                    <td>
                                                      <a href="{% url 'deleteguruadmin' row.id %}" class="btn btn-primary btn-sm"><i data-feather="x-octagon"></i> Hapus</a>
                                                      <a href="{% url 'editguruadmin' row.id %}" class="btn btn-danger btn-sm"><i data-feather="edit"></i> Edit</a>
                                                    </td>
                                                  </tr>
                                                  {% empty %}
                                                  <tr>
                                                    <td colspan="6" align="center">Data Guru</td>
                                                  </tr>
                                                  {% endfor %}
                                                 
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      
                    </div> <!-- container-fluid -->
       
{% endblock content %}
      