{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="utf-8" />
        <title>{{judul}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc."/>
        <meta name="author" content="Zoyothemes"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
       
        <!-- App favicon -->
        <link rel="shortcut icon" href={% static "assets/images/logo-tut-wuri-handayani.png" %}>

        <!-- App css -->
        <link href={% static "assets/css/app.min.css" %} rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons -->
        <link href={% static "assets/css/icons.min.css" %} rel="stylesheet" type="text/css" />

        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
      

    </head>

    <!-- body start -->
    <body data-menu-color="dark" data-sidebar="default">

        <!-- Begin page -->
        <div id="app-layout">


            <!-- Topbar Start -->
            <div class="topbar-custom">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
                            <li>
                                <button class="button-toggle-menu nav-link">
                                    <i data-feather="menu" class="noti-icon"></i>
                                </button>
                            </li>
                            <li class="d-none d-lg-block">
                                <div class="position-relative topbar-search">
                                    <input type="text" class="form-control bg-light bg-opacity-75 border-light ps-4" placeholder="Search...">
                                    <i class="mdi mdi-magnify fs-16 position-absolute text-muted top-50 translate-middle-y ms-2"></i>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
                
                           
                            <li class="dropdown notification-list topbar-dropdown">
                                <a class="nav-link dropdown-toggle nav-user me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src={% static "assets/images/logo-tut-wuri-handayani.png" %} alt="user-image" class="rounded-circle">
                                    <span class="pro-user-name ms-1">
                                    {% for group in user.groups.all  %}
                                        {% if group.name == "administrator" %}
                                        Administrator
                                  
                                        {% endif %}
                                        {% if group.name == "piket" %}
                                  
                                        Piket
                                        {% endif %}
                                        {% if group.name == "guru" %}
                                        Guru
                                        {% endif %}
                                   {% endfor %}
                                        
                                        <i class="mdi mdi-chevron-down"></i> 
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end profile-dropdown ">
                            
        
                                    <!-- item-->
                                    <a class='dropdown-item notify-item' href='{% url "logout" %}'>
                                        <i class="mdi mdi-location-exit fs-16 align-middle"></i>
                                        <span>Logout</span>
                                    </a>
        
                                </div>
                            </li>
        
                        </ul>
                    </div>

                </div>
               
            </div>
            <!-- end Topbar -->

            <!-- Left Sidebar Start -->
            <div class="app-sidebar-menu">
                <div class="h-100" data-simplebar>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <div class="logo-box">
                            <a class='logo logo-light' href=''>
                                <span class="logo-sm">
                                    <img src={% static "assets/images/logo-tut-wuri-handayani.png" %} alt="" height="50">
                                    SLB
                                </span>
                                <span class="logo-lg">
                                    <img src={% static "assets/images/logo-tut-wuri-handayani.png" %} alt="" height="50">
                                    SLB
                                </span>
                            </a>
                            
                        </div>
                       {% include "navbar.html" %}

                    </div>
                    <!-- End Sidebar -->

                    

                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
         
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                   
                    {% block content %}
    
                    {% endblock content %}
                    <!-- ======= Footer =====
                    <!-- container-fluid -->
                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col fs-13 text-muted text-center">
                                &copy; <script>document.write(new Date().getFullYear())</script> - UNUJA <span class="mdi mdi-heart text-danger"></span> by <a href="#!" class="text-reset fw-semibold">Jaya</a> 
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- Vendor -->
        <script src={% static "assets/libs/jquery/jquery.min.js" %}></script>
        <script src={% static "assets/libs/bootstrap/js/bootstrap.bundle.min.js" %}></script>
        <script src={% static "assets/libs/simplebar/simplebar.min.js" %}></script>
        <script src={% static "assets/libs/node-waves/waves.min.js" %}></script>
        <script src={% static "assets/libs/waypoints/lib/jquery.waypoints.min.js" %}></script>
        <script src={% static "assets/libs/jquery.counterup/jquery.counterup.min.js" %}></script>
        <script src={% static "assets/libs/feather-icons/feather.min.js" %}></script>

      
        

      

        <!-- App js-->
        <script src={% static "assets/js/app.js" %}></script>
        
    </body>

</html>